<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">“We are the music makers, and we are the dreamers of dreams.” ― <a href="https://www.goodreads.com/author/quotes/4273.Roald_Dahl" >Roald Dahl</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github %}
          <li>
            {% include icon-github.html username=site.github %}
          </li>
          {% endif %}

          {% if site.twitter %}
          <li>
            {% include icon-twitter.html username=site.twitter %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p><i class="fad fa-id-card"></i> {{ site.description }}</p>
      </div>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        <dl>
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <dd>
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </dd>
          {% endif %}
          {% endfor %}
          <dd class="rss-subscribe">
            <i class="fal fa-rss-square"></i> subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
          </dd>
        </dl>

        <dl>
          <dd>
            <a href="https://lookatmydoodle.com"><i class="fal fa-browser"></i> Look at my Doodle</a>
          </dd>
          <dd>
            <a href="https://toonstudio.com.au"><i class="fal fa-browser"></i> Toon Studio</a>
          </dd>
          <dd>
            <a href="https://leesheppard.com"><i class="fal fa-browser"></i> Lee Sheppard</a>
          </dd>
        </dl>
        <dl>
          <dd>
            <a href="https://dribbble.com/leesheppard"><i class="fab fa-dribbble"></i> Dribbble</a>
          </dd>
          <dd>
            <a href="https://instgram.com/leesheppard"><i class="fab fa-instagram"></i> Instagram</a>
          </dd>
          <dd>
            <a href="https://www.linkedin.com/in/leesheppard"><i class="fab fa-linkedin-in"></i> Linkedin</a>
          </dd>
        </dl>

      </div>
    </nav>

  </div>

</footer>

{% include analytics.html %}