<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//google-analytics.com">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Lee Sheppard">
  <link rel="apple-touch-icon" href="http://assets.sheppard.io/png/sheppard-io-fav-167x167@2x.png">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link href="http://assets.sheppard.io/png/sheppard-io-fav-60x60@2x.png" rel="apple-touch-icon" />
  <link href="http://assets.sheppard.io/png/sheppard-io-fav-76x76@2x.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="http://assets.sheppard.io/png/sheppard-io-fav-128x128.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="http://assets.sheppard.io/png/sheppard-io-fav-167x167@2x.png" rel="apple-touch-icon" sizes="152x152" />
  <link href="http://assets.sheppard.io/png/sheppard-io-fav-167x167@2x.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="http://assets.sheppard.io/png/sheppard-io-fav-256x256.png" rel="icon" sizes="192x192" />
  <link href="http://assets.sheppard.io/png/sheppard-io-fav-128x128.png" rel="icon" sizes="128x128" />
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@leesheppard" />
  <meta name="twitter:creator" content="@leesheppard" />
  <meta property="og:url" content="http://lee.sheppard.io" />
  <meta property="og:title" content="Lee Sheppard, the cartoonist slash developer" />
  <meta property="og:description" content="Once there was a cartoonist. He grew up and became an artist. And continued his interest in coding." />
  <meta property="og:image" content="http://assets.sheppard.io/png/sheppard-io-fav-128x128@2x.png" />

  <script type="text/javascript" src="/assets/javascripts/bundle.js" charset="utf-8"></script>
</head>
