<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

          <picture>
              <source srcset="http://assets.sheppard.io/png/sheppard-io-fav-128x128@2x.png" media="(min-width: 1000px)">
              <source srcset="http://assets.sheppard.io/png/sheppard-io-fav-76x76@2x.png" media="(min-width: 800px)">
              <img srcset="http://assets.sheppard.io/png/sheppard-io-fav-48x48.png" alt="…">
          </picture>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
